<div class="modal fade" id="registerModal" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Register</h4>
            </div><!-- .modal-header-->
            <div class="modal-body">
                <form class="inner_form" method="post" action="{{ path("awid_register") }}">


                    <div class="form-group" style="border: 10px white;border-radius: 15px;">


                        <label for="usrname">Username</label>
                        {{ form_row(form.username) }}


                        <label for="email">Email</label>
                        {{ form_row(form.email) }}

                        <label for="email">Numéro de Téléphone</label>
                        {{ form_row(form.tel) }}

                        <label for="usrname">Mot de passe</label>
                        {{ form_row(form.plainPassword.first) }}


                        <label for="usrname">confirmation</label>
                        {{ form_row(form.plainPassword.second ,{ 'attr':{'placeholder':'confirmation'}}) }}
                        {{ form_row(form._token) }}
                        <button type="submit" class="btn btn-default btn-success btn-block">S'inscrire</button>
                    </div>
                </form>
            </div><!-- .modal-body-->
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove "></span> Quitter</button>
                <a href="#" class="btn btn-link">Deja membre ?</a>
                <a href="#" class="btn btn-link">Mot de passe oublié ? </a>
            </div><!-- .modal-footer-->
        </div><!-- .modal-content-->
    </div><!-- .modal-dialog-->
</div>>