{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="body container form">
        <p><br /></p>
        <h3 class="txt_center">{{ adverTitle }}</h3>
        <form class="center_form" method="post"
              action= {{ pathForm }}
                >
                    {{ form_row(form._token) }}

            <label for="email">Trajet</label>
            <div class="form-group flex">
                {{ form_row(form.fromCountry ,{'attr': {'class': 'form-control w25'}}) }}
                <div class="form-group w25">
                    {{ form_row(form.fromCity) }}
                </div>
                <i class="fa fa-long-arrow-right fa-2x" aria-hidden="true"></i>
                {{ form_row(form.toCountry ,{'attr': {'class': 'form-control w25'}}) }}
                <div class="form-group w25">
                    {{ form_row(form.toCity) }}
                </div>
            </div>

            <div class="form-group">
                <label for="date">Date de depart</label>
                {{ form_row(form.date) }}
            </div>
            <br />
            <!--description-->
            <div class="form-group">
                <label for="desc">Description</label>
                {{ form_row(form.description) }}
            </div>
            <!--check-->

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="condition" required value="1">
                    <a style="color:black;"> <strong>Medicaments: </strong>Veuillez vérifier si à usage personnel et si l’ordonnance est obligatoire</a>
                </label>
                <label>
                    <input type="checkbox" name="condition" required value="1">
                    <a style="color:black;"><strong>Objets: </strong>Veuillez vérifier si l’objet est légalement transportable dans le pays de destination !</a>
                </label>
                <label>
                    <input type="checkbox" name="condition" required value="1">
                    <a style="color:black;" href="docs/DECLARATION-DE-CONFIANCE.pdf" target = "_blank">Oui, j'imprime et je signe Le contrat de confiance</a>
                </label>
            </div>
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn">
                    <i class="fas fa-check" style="padding-right: 5px"></i>
                    {% if isAdd %}
                        Publier
                    {% else %}
                        Modifier
                    {% endif %}

                </button>
            </div>
            <br>
        </form>

    </div>

{% endblock body %}