{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container-fluid splash" id="splash">
        <div class="container-awid">

            <div class="container-form-awid">
                <h2> Annonces </h2>
                {% for adver in advertisements %}
                   <div>
                        <div class="block-advert">
                            <div class="block-logo-advert">
                                <img src="/images/coliLogo.png">
                                <a class="btn-awid btn-awid-size" href="#/" class="card-button card-button-cta">
                                    Contacter
                                </a>


                            </div>
                            <div class="block-info-advert">
                                <div> {{ adver.fromCountry }} - {{ adver.toCountry }}</div>
                                <div> Poid : {{ adver.weight }} Kg</div>
                                <div> date : {{ adver.date|date("m/d/Y") }}</div>
                                <div>   <a href="#/" class="btn-awid-url">
                                        More info
                                        <span class="flesh-icon">
                                          <svg fill="#9C948A" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/>
                                          </svg>
                                     </span>
                                    </a>
                                </div>
                            </div>
                        </div>

                   </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}