{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container-fluid splash" id="splash">
        <div class="container">

            <div class="container-fluid contact" id="contact">
                <div class="container-awid">

                    {{ form_start(form) }}
                     <h2> {{ adverTitle }}</h2>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock body %}