{% extends "base.html.twig" %}
{% block body %}
    {{ include('main/menu.html.twig') }}
    {# body #}

    <div class="container body">
        <p></p>
        <h2 class="titre">{{ adverTitle }} </h2>
        {% for adver in advertisements %}
            <div  class="row annonce">
            <!--premiere box-->
                <div class="col-md-2 col-sm-2">
                    {% if isSend %}
                         <img class="img-colis" src="/images/colis.png" alt="passenger_img" >
                    {% else %}
                        <img class="img-colis" src="/images/passenger.png" alt="passenger_img" >
                    {% endif %}

                </div>

                 <!--seconde box-->
                <div class="col-md-5 col-sm-5 text_colis" style="color: black">
                    <p>Poid : {{ adver.weight }} </p>
                    <p>Ville de départ : {{ adver.fromCity}} </p>
                    <p>Ville arrivéé : {{ adver.toCity }} </p>
                    <p>Date d'expedition : {{ adver.date | date("m/d/Y") }} </p>
                    <br />
                </div>

               <!--troisieme box-->
                <div class="col-md-5 buttons-container">
                <div class="row">
                    <!--Bottons-->
                    <ul class="my-colis-buttons">
                        {% if myAdver %}
                            <li><a href="#" class="btn btn-success">Modifier</a></li>
                            <li><button class="btn btn-danger" data-toggle="modal" data-target="#confirm_modal_{{ adver.id  }}">Supprimer</button></li>
                        {% endif %}
                        <li>
                            <form method="post" action="{{ path("show_advertisements",{"id":adver.id}) }}">
                                <!--TODO: value # should be dynamically replaced by the item's id-->
                                <input type="hidden" name="idc" value="#">
                                <button type="submit" class="btn btn-warning">Détail de l'annonce </button>
                            </form>
                        </li>
                    </ul>
                    {% if myAdver %}
                        <div id="confirm_modal_{{ adver.id  }}" class="modal center" role="dialog" style="top:30%" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <p>Voulez vous vraiment supprimer ce colis</p>

                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Non</button>
                                        <button type="submit" id="delete-adver" data-url="{{ path("delete_advertisement",{"id": adver.id}) }}" class="btn btn-secondary" data-dismiss="modal">Oui</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!--/confirmation modal-->
                </div>
            </div>
            </div>
        {% endfor %}
    </div>





{% endblock body %}