
<div class="table-responsive">
    <table class="table">
        {% for message in messages %}
            <tr class="unread" id="show-message" data-url="{{ path("show_message",{"messageId": message.id}) }}">
                <td>
                    <div class="check-star">
                        <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                        </div>
                        <i class="icofont icofont-star text-warning"></i>
                    </div>
                </td>
                {% if send %}
                    <td><a href="#" class="email-name waves-effect">{{ message.ToUser.username }}</a></td>
                {% else %}
                    <td><a href="#" class="email-name waves-effect">{{ message.fromUser.username }}</a></td>
                {% endif %}

                <td><a href="#" class="email-name waves-effect">{{ message.content }}</a></td>
                {#<td class="email-attch"><a href="#"><i class="icofont icofont-clip"></i></a></td>#}
                <td class="email-time">{{ message.createAt | date("m/d/Y") }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
