<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>JibColis</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            <!--Google font-->
            <link href='https://fonts.googleapis.com/css?family=Old Standard TT' rel='stylesheet'>

            <!--Bootstrap-->
            <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />

            <!--Font Awesome-->
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

            <!--Styles-->
            <link rel="stylesheet" href="/css/body.css" type="text/css" media="screen" >
            <link rel="stylesheet" href="/css/footer.css" type="text/css" media="screen" >
            <link rel="stylesheet" href="/css/style.css" />

            <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
            <script src="/bootstrap/js/bootstrap.js" ></script>
            <script src="/bootstrap/js/npm.js" ></script>

            {% block stylesheets %}{% endblock %}
        </head>
    <body >
    {{ include('main/menu.html.twig') }}
    {% block body %}

    {% endblock %}


    <footer class="maronc">
        <div class="container-fluid" id="base_footer">
            <div class="element">
                <p>
                    <a href="{{ path("presentation") }}">PRÉSENTATION</a>
                    <br />
                    <a  href="{{ path('who_we_are')}}">QUI SOMMES NOUS</a>
                    <br />
                    <a href="{{  path('objective') }}">NOS OBJECTIFS</a>
                    <br />
                    <a href="{{ path('cgu') }}">CGU</a>
                </p>
            </div><!-- .element-->
            <div class="element">

                <p>
                    <a href="page-partenaires.html">PARTENAIRES</a>
                    <br />
                    <a href="#" target="_blank">ADDRA</a>
                    <br />
                    <a href="page-press.html">PRESSE</a>
                    <br />
                </p>
            </div><!-- .element-->
            <div class="element">
                <div id="carre_droite">
                    <div class="rs">
                        <a href="#" class="fa fa2 fa-facebook" target = "_blank"></a>
                        <a href="#" class="fa fa2 fa-twitter"></a>
                        <a href="#" class="fa fa2 fa-linkedin"></a>
                        <a href="#" class="fa fa2 fa-instagram"></a>
                        <a href="#" class="fa fa2 fa-youtube"></a>
                    </div><!-- .rs-->
                    <br />
                    <div class="mail">
                        <form method="" action="">
                            <nobr>
                                <input type="mail" class="newsletter" name="mail" placeholder="NEWSLETTER" />
                                <button type="submit" class="inscription">
                                    S'INSCRIRE
                                </button>
                            </nobr>
                        </form>
                    </div><!-- .mail-->
                </div><!-- #carre_droite-->
            </div><!-- .element-->
        </div><!-- #base_footer-->

    </footer>
    </body>
        {% block javascripts %}{% endblock %}
</html>
